<form name="astrform" class="form-inline" name="astreinteform"
	role="form" ng-submit="astrform.$valid && save()" novalidate>
	<div class="form-group">
		<div class="row">


			<label class="label label-primary" for="idQC">QC</label> <select
				required class="form-control" id="idQC"
				data-ng-model="astreinte.ticket.id"
				data-ng-change="byressource(astreinte.ressource.id)"
				data-ng-options="tck.id as tck.qc for tck in listeTickets"></select>
			<label data-ng-show="currentUser.principale.role=='CP'"
				for="ressource">Ressource</label> <select
				ng-required="currentUser.principale.role=='CP'"
				data-ng-show="currentUser.principale.role=='CP'"
				class="form-control" data-ng-model="astreinte.ressource.id"
				data-ng-change="byressource(astreinte.ressource.id)"
				data-ng-options="res.id as res.nom group by res.role for res in listeRessources"></select>


			<label class="label label-primary" for="typeAstreinte">Type
				astreinte</label> <select required class="form-control" id="typeAstreinte"
				data-ng-model="astreinte.typeAstreinte.id"
				data-ng-options="tp.id as tp.libelle for tp in typesAstreinteList"></select>
		</div>

		<div class="row">

			<label class="label label-primary" for="adate">Date</label> <input
				required class="form-control" id="adate" type="date"
				ng-model="astreinte.dateAstreinte" data-ng-required="true" /> <label
				class="label label-primary" for="hdebut">Debut</label> <input
				required class="form-control" id="hdebut" type="time"
				ng-model="astreinte.hdebut" /> <label class="label label-primary"
				for="hfin">Fin</label> <input required class="form-control"
				id="hfin" type="time" data-ng-model="astreinte.hfin" />

		</div>

		<div class="row">


			<button class="btn btn-warning" data-ng-click="checkChevechment()"
				type="button">Ckeck</button>

			<input type="submit" class="btn btn-success" value="save"
				data-ng-disabled="astrform.$invalid" /> <input type="reset"
				class="btn btn-info" value="clear" data-ng-click="reset()" />

		</div>
	</div>
</form>