
<div class="modal fade bs-example-modal-lg" id="chevModal" tabindex="-1"
	role="dialog" aria-labelledby="chevModalLabel" aria-hidden="true">
	<div class="modal-dialog  bs-example-modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="chevModalLabel">Chevauchement entre
					astrintes</h4>
			</div>
			<div class="modal-body">

				<div data-ng-show="checkChevechmentList.length > 0">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>QC</th>
								<th>Name</th>
								<th>LastName</th>
								<th>Date</th>
								<th>Debut</th>
								<th>Fin</th>

							</tr>
						</thead>
						<tr data-ng-repeat="castr in checkChevechmentList">
							<td><a href data-ng-click="edit(castr)"> {{castr.id}} </a></td>
							<td>{{castr.ticket.qc}}</td>
							<td>{{castr.ressource.prenom}}</td>
							<td>{{castr.ressource.nom}}</td>
							<td>{{castr.dateAstreinte | date :"dd/MM/yyyy"}}</td>
							<td>{{castr.hdebut | date : 'hh:mm:ss'}}</td>
							<td>{{castr.hfin | date:"hh:mm:ss"}}</td>


						</tr>
						<tfoot>
							<tr>
								<th>avec la nouvelle saisie</th>
								<th colspan="3">{{astreinte.ticket.qc}}</th>

								<th>{{astreinte.dateAstreinte | date :"dd/MM/yyyy"}}</th>
								<th>{{astreinte.hdebut | date : 'hh:mm:ss'}}</th>
								<th>{{astreinte.hfin | date:"hh:mm:ss"}}</th>
							</tr>
						</tfoot>
					</table>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>