<!DOCTYPE html>
<html>

<body>

	<div class="page-header" data-ng-show="!!token">
		<h1>Gestion Astreinte {{astreinte.id}}</h1>
		<div class="btn-group">

			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle"
					data-toggle="dropdown">
					Menu <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">


					<li><a href="/#/astreinte">Astreinte</a></li>
					<li><a href="/#/ticket">Ticket</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary" ng-click="logout()">Logout</button>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg" id="chevModal"
		tabindex="-1" role="dialog" aria-labelledby="chevModalLabel"
		aria-hidden="true">
		<div class="modal-dialog  bs-example-modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="chevModalLabel">Chevauchement
						entre astrintes</h4>
				</div>
				<div class="modal-body">

					<div ng-show="checkChevechmentList.length > 0">

						<table class="table table-striped">
							<thead>
								<tr>
									<th>Id</th>
									<th>QC</th>
									<th>Name</th>
									<th>LastName</th>
									<th>Date</th>
									<th>Debut</th>
									<th>Fin</th>

								</tr>
							</thead>
							<tr ng-repeat="castr in checkChevechmentList">
								<td><a href ng-click="edit(castr)"> {{castr.id}} </a></td>
								<td>{{castr.ticket.qc}}</td>
								<td>{{castr.ressource.prenom}}</td>
								<td>{{castr.ressource.nom}}</td>
								<td>{{castr.dateAstreinte | date :"dd/MM/yyyy"}}</td>
								<td>{{castr.hdebut | date : 'hh:mm:ss'}}</td>
								<td>{{castr.hfin | date:"hh:mm:ss"}}</td>


							</tr>
							<tfoot>
								<tr>
									<td><a href ng-click="edit(castr)"> {{astreinte.id}} </a></td>
									<th>{{astreinte.ticket.qc}}</th>
									<th>{{astreinte.ressource.prenom}}</th>
									<th>{{astreinte.ressource.nom}}</th>
									<th>{{astreinte.dateAstreinte | date :"dd/MM/yyyy"}}</th>
									<th>{{astreinte.hdebut | date : 'hh:mm:ss'}}</th>
									<th>{{astreinte.hfin | date:"hh:mm:ss"}}</th>
								</tr>
							</tfoot>
						</table>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>



	<div class="jumbotron" data-ng-show="!!token">

		<form class="form-inline" name="astreinteform" role="form">

			<div class="form-group">
				<label class="label label-primary" for="idQC">QC</label> <select
					class="form-control" id="idQC" ng-model="astreinte.ticket.id"
					ng-change="byressource()"
					ng-options="tck.id as tck.qc for tck in listeTickets"></select> <label
					for="ressource">Ressource</label> <select class="form-control"
					ng-model="astreinte.ressource.id" ng-change="byressource()"
					ng-options="res.id as res.nom group by res.role for res in listeRessources"></select>

				<label class="label label-primary" for="typeAstreinte">Type
					astreinte</label> <select class="form-control" id="typeAstreinte"
					ng-model="astreinte.typeAstreinte.id"
					ng-options="tp.id as tp.libelle for tp in typesAstreinteList"></select>
			</div>

			<div class="form-group">
				<label class="label label-primary" for="adate">Date</label> <input
					class="form-control" id="adate" type="date"
					ng-model="astreinte.dateAstreinte" ng-required="true" /> <label
					class="label label-primary" for="hdebut">Debut</label> <input
					class="form-control" id="hdebut" type="time"
					ng-model="astreinte.hdebut" /> <label class="label label-primary"
					for="hfin">Fin</label> <input class="form-control" id="hfin"
					type="time" ng-model="astreinte.hfin" />
			</div>

			<div class="form-group">
				<button class="btn btn-warning" ng-click="checkChevechment()"
					type="button">Ckeck</button>

				<input type="submit" class="btn btn-success" value="save"
					ng-click="save()" ng-disabled="astreinteform.$invalid" /> <input
					type="reset" class="btn btn-info" value="clear" ng-click="reset()" />
			</div>


		</form>
	</div>
	<div class="jumbotron" data-ng-show="!!token">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>QC</th>
					<th>Name</th>
					<th>LastName</th>
					<th>Date</th>
					<th>Debut</th>
					<th>Fin</th>
					<th>K</th>
					<th>Charge</th>
					<th>Action</th>
				</tr>
			</thead>
			<tr ng-repeat="astr in listAstreinte track by $index">
				<td><a href ng-click="edit(astr)"> {{astr.id}} </a></td>
				<td>{{astr.ticket.qc}}</td>
				<td>{{astr.ressource.prenom}}</td>
				<td>{{astr.ressource.nom}}</td>
				<td>{{astr.dateAstreinte | date :"dd/MM/yyyy"}}</td>
				<td>{{astr.hdebut | date : 'hh:mm:00'}}</td>
				<td>{{astr.hfin | date:"hh:mm:00"}}</td>

				<td>{{astr.k}}</td>
				<td>{{astr.charge | number:2}}</td>
				<td><a href ng-click="remove(astr)">Remover</a></td>
			</tr>
			<tfoot>
				<tr>
					<th colspan="8">Charge Totale</th>
					<th>{{calculate(listAstreinte) | number:2}}</th>
					<th>JH</th>
				</tr>
			</tfoot>
		</table>
	</div>

</body>
</html>