<!DOCTYPE html>
<html>
<body>
<div ng-hide="connected">
	<form name="loginform">
		<table>
			<tr>

				<td><label>Login *</label></td>
				<td><input type="text" ng-model="ressource.login" /></td>

			</tr>
			<tr>
				<td><label>Password *</label></td>
				<td><input type="text" ng-model="ressource.password" /></td>

			</tr>




			<tr>

				<td colspan="2"><input type="submit" value="Valider"
					ng-click="checklogin(ressource.login,ressource.password)" /></td>


			</tr>
		</table>
	</form>
	</div>
	<div>{{connected}}</div>
	<div ng-show="connected">
		<a href="/#/astreinte">Astreinte</a> <a href="/#/ticket">Ticket</a> <a
			href="/#/manager">Ticket</a>

	</div>
</body>
</html>